<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CITRUS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CITRUS.Properties.Settings>
            <setting name="FSCRT1_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_RebarSecondOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_RebarSecondOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_RebarSecondOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_SecondLowerRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_SecondTopRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_SecondLeftRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_SecondRightRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_RebarSecondOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_SecondLowerRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_SecondTopRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_SecondLeftRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_SecondRightRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_RebarSecondOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondLowerRebarOffset1" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondTopRebarOffset1" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondLeftRebarOffset1" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondRightRebarOffset1" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondLowerRebarOffset2" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondTopRebarOffset2" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondLeftRebarOffset2" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondRightRebarOffset2" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_NumberOfBarsLRFaces" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_NumberOfBarsTBFaces" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_RebarOutletsLengthLong" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_RebarOutletsLengthShort" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_FloorThicknessAboveColumn" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_StandardStirrupStep" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_IncreasedStirrupStep" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="RCRF_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_ExtensionLeftLenghtL1" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_ExtensionLeftLenghtL2" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_ExtensionRightLenghtR1" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_ExtensionRightLenghtR2" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_DeepeningIntoTheStructureL1" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_DeepeningIntoTheStructureL2" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_DeepeningIntoTheStructureR1" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_DeepeningIntoTheStructureR2" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_StirrupIndentL1" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_StirrupStepL1" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_StirrupIndentR1" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_StirrupStepR1" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_StirrupStepC1" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_ExtensionAddBarL2" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_ExtensionAddBarR2" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_NumberOfBarsTopFaces" serializeAs="String">
                <value />
            </setting>
            <setting name="BRF_NumberOfBarsBottomFaces" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_StepRebarCoverLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_StepLength" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_StepHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_StaircaseSlabThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_StairCoverLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_StepRebarStep" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_StaircaseRebarStep" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_TopExtensionStaircase" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_TopExtensionHeightStaircase" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_BottomExtensionHeightStaircase" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_BottomExtensionHeightStaircaseNodeA2" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_FirstBarMeshName" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_AdditionalBarMeshName_1" serializeAs="String">
                <value />
            </setting>
            <setting name="SFRF_AdditionalBarMeshName_2" serializeAs="String">
                <value />
            </setting>
            <setting name="SR_BottomXDirectionRebarSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="SR_BottomYDirectionRebarSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="SR_TopXDirectionRebarSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="SR_TopYDirectionRebarSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="SR_PerimeterFramingDiam" serializeAs="String">
                <value />
            </setting>
            <setting name="SR_PerimeterFramingAnchoring" serializeAs="String">
                <value />
            </setting>
            <setting name="SR_PerimeterFramingEndCoverLayer" serializeAs="String">
                <value />
            </setting>
            <setting name="SR_PerimeterFramingStep" serializeAs="String">
                <value />
            </setting>
        </CITRUS.Properties.Settings>
    </userSettings>
</configuration>