<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CITRUS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CITRUS.Properties.Settings>
            <setting name="FSCRT1_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT1_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_RebarSecondOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT2_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_RebarSecondOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT3_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_RebarSecondOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_SecondLowerRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_SecondTopRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_SecondLeftRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT4_SecondRightRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_RebarSecondOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_SecondLowerRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_SecondTopRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_SecondLeftRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT5_SecondRightRebarOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_FloorThickness" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_RebarOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_RebarSecondOutlets" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_FirstStirrupOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_IncreasedStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_StandardStirrupSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_StirrupIncreasedPlacementHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_ColumnSectionOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_DeepeningBarsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondLowerRebarOffset1" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondTopRebarOffset1" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondLeftRebarOffset1" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondRightRebarOffset1" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondLowerRebarOffset2" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondTopRebarOffset2" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondLeftRebarOffset2" serializeAs="String">
                <value />
            </setting>
            <setting name="FSCRT6_SecondRightRebarOffset2" serializeAs="String">
                <value />
            </setting>
        </CITRUS.Properties.Settings>
    </userSettings>
</configuration>